.box {
  background-color: lightblue;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 40px;
}

.nav-menu {
  padding: 15px;
}

.content-area {
  display: flex;
  height: 200px;
}

.content-area div:nth-child(1) {
  flex-basis: 20%;
  margin-right: 10px;
}
.content-area div:nth-child(2) {
  flex-basis: 60%;
}
.content-area div:nth-child(3) {
  flex-basis: 20%;
  margin-left: 10px;
}

.footer {
  padding: 20px 0;
}

/* ---------------------------------------------- */

.container-2 .header {
  height: 10vh;
  border: 1px solid rgb(56, 199, 0);
}

.container-2 .nav {
  height: 5vh;
  border: 1px solid rgb(56, 199, 0);
}

.container-2 .main {
  border: 1px solid red;
  display: flex;
  padding: 20px;
}

.container-2 .main div {
  border: 1px solid blue;
  height: 20vh;
  width: 50%;
}

.container-2 .footer {
  height: 10vh;
  border: 1px solid rgb(56, 199, 0);
}

.container-2 section {
  display: flex;
  border: 1px solid rgb(56, 199, 0);
}

.container-2 .section {
  padding: 10px;
  width: 50%;
  border: 1px solid rgb(56, 199, 0);
}
.container-2 .section div {
  height: 10vh;
  border: 1px solid rgb(56, 199, 0);
}

.container-2 .aside {
  width: 50%;
}

.container-2 .figure {
  height: 20vh;
  padding: 10px;
}

.container-2 .figure .img {
  height: 10vh;
  border: 1px solid rgb(56, 199, 0);
}

.container-2 .figure .figcaption {
  height: 10vh;
  border: 1px solid rgb(56, 199, 0);
}

/* ---------------------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

div {
  border: 1px solid black;
}

/* ---- */

.container-3 {
  display: flex;
  height: 1000px;
}

/* 왼쪽 */
.container-3 > div:first-child {
  flex-basis: 20%;
}

/* 오른쪽 */
.container-3 > div:last-child {
  flex-basis: 80%;
}

/* == 오른쪽 */
.rightBox {
  /* 새로운 flex 부모가 되어야 함 */
  display: flex;
  flex-direction: column;
}

/* 헤더, 네비 */
.rightBox > div:nth-child(1),
.rightBox > div:nth-child(2) {
  flex-basis: 10%;
}

/* 콘텐츠(주황) */
.rightBox > div:nth-child(3) {
  background-color: orange;
  flex-basis: 80%;
}

/* == 콘텐츠(주황) */
.orangeBox {
  /* 새로운 flex 부모 되어야 함 */
  display: flex;
  padding: 20px;
}

/* 빨간 & 파/초 박스 */
.orangeBox > div:nth-child(1),
.orangeBox > div:nth-child(2) {
  flex-basis: 50%;
}

/* 빨간색 */
.orangeBox > div:nth-child(1) {
  background-color: red;
}

/* 파/초 박스 */
.orangeBox > div:nth-child(2) {
  /* 새로운 flex 부모가 되어야 함 */
  display: flex;
  flex-direction: column;
}

/* == 파/초 박스 */
.blueGreenBox > div:nth-child(1) {
  /* 파란 박스 */
  background-color: blue;
  flex-basis: 40%;
  margin: 0px 0px 10px 20px;
}

.blueGreenBox > div:nth-child(2) {
  /* 초록 박스 */
  background-color: green;
  flex-basis: 60%;
  margin: 10px 0px 0px 20px;
}

.redBox {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.redBox div:nth-child(1),
.redBox div:nth-child(2),
.redBox div:nth-child(3),
.redBox div:nth-child(4) {
  flex-basis: 50%;
  background-color: yellow;
  scale: 0.8;
}
