div {
    border: 1px solid black;
    box-sizing: border-box;
    /* content + padding + border의 합으로 width/height 지정 */
}

.item{
    width: 75px;
    height: 75px;
}

.item1{background-color: lightcoral;}
.item2{background-color: lightblue;}
.item3{background-color: lightseagreen;}
.item4{background-color: lightgreen;}
.item5{background-color: lightpink;}
.item6{background-color: lightsalmon;}
.item7{background-color: lightslategray;}
.item8{background-color: lightskyblue;}
.item9{background-color: lightgoldenrodyellow;}